body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.preloader {
    background: center;
    background-color: #ffffff;
    background-image: url(../images/loader.gif);
    background-repeat: no-repeat;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1100;
    width: 100%;
    height: 100%
}
.error {
    color: red;
    font-style: italic;
    font-weight: 700;
}

.content {
    min-height: 550px;
}

.footer-area {
    background: #2887e6;
    text-align: center;
    padding: 30px 0;
    color: #fff;
    height: 75px;
}

.footer-area p {
    margin: 0;
}


.segment-area {
    background: #5d9eda;
    transform: translateX(280px);
    width: 650px;
    text-align: center;
    padding: 30px 0;
    color: #fff;
    height: 80px;
}

.segment-area h2 {
    margin: 0;
}